.shop-title{
    background: #5cb85c;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    .title-sp{
        display: inline-block;
        color:#FFF;
        padding: 8px 20px;
    }
        
}
    
    