<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">    
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>lbs map</title>
<meta name="keywords" content="">
<meta name="description" content=""> 
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=0GzAkQ2AYYguKoMxgerY6hemo6kVC6XN"></script>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=077d205edf62512e8050bc4c35d9003c"></script> 
</head>
<body>
<div id="app">
</div>
</body>
</html>